	
table {border-collapse: collapse;
width: 900px;
height: 900px;
margin: auto; 
}

td { border: 1px solid #000; }


.yellow {background-color: yellow; }

.red {background-color: red; }

.blue {background-color: blue; }

.grey {background-color: grey; }